// Remove default styling for inputs
@mixin input() {
  border: none;
  outline: none;

  &::outer-spin-button,
  &::inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
}

// Adjust top property if admin bar is visible
@mixin admin-bar-fix($offset: 0, $property: top) {
  $narrow-offset: 46px;
  $wide-offset: 32px;

  @if $offset != 0 and type-of($offset) == 'number' {
    $narrow-offset: $narrow-offset + $offset;
    $wide-offset: $wide-offset + $offset;
  }

  .admin-bar & {
    #{$property}: $narrow-offset;

    @media (min-width: 783px) {
      #{$property}: $wide-offset;
    }
  }
}

// Fluid-type mixin
@mixin clamp($property, $min-vw, $max-vw, $min-value, $max-value) {
  $factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
  $calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

  #{$property}: clamp(
    #{if($min-value > $max-value, $max-value, $min-value)},
    #{$calc-value},
    #{if($min-value > $max-value, $min-value, $max-value)}
  );
}
