{% extends "layouts/base.twig" %}

{% block content %}

    <main>
        <div class="Main">
            <div class="Main-wrapper">
                <h1>{{ theme.name }}</h1>
                <p>Just another WordPress Starter Theme</p>
            </div>
        </div>
    </main>

{% endblock %}
